<div class="container">
  <!-- begin footer -->
  <footer class="footer">
    <div class="footer__inner">
      <div class="contact">
        <a href="/" class="contact__title">© {% if site.title %}{{site.title}}{% else %}Errol{% endif %} 2020.</a> Disusun dengan <i class="contact__title ion ion-md-heart"></i></i>
        <div class="contact__title">Kelompok 5 Psikologi Pendidikan Kelas 3</div>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</div>
